.bg-body{
    padding: 0;
    margin: 0%;
   
}
.bg-grcry{
    background-image: linear-gradient(to bottom right,#f8eedb, #f5efdd,#ebc588);
}
.nav-style{
    width: 1270px;
    height: 60px;
    font-weight: 700;
    font-size: medium;
    margin-left: -20px;
   
}
.head-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cart-grcry{
    margin-left: 160px;
}
.btn-text{
    color: #FFFFFF;
    background-color: #Fc8934;
    font-weight: 700;
}
.btn-text:hover{
    color: #Fc8934;

}
.home-img{
    margin-top: 60px;
    margin-bottom: 60px;

}
.catg-bdr{
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 2px 2px 30px #dedede;
}
.catg-img:hover{
    transform: scale(0.9, 0.9);
    transition: 1s;
}
.btn-bg{
    color: #Fc8934;
    font-weight: 700;
    border-radius: 30px solid #Fc8934;
    width: 400px;
}
.btn-cart-bg:hover{
    color: #FFFFFF;
   background-color: #Fc8934;
}
.btn-pdct-bg{
    color: #FFFFFF;
    background-color: #Fc8934;
    font-weight: 700;
    border-radius: 30px solid #Fc8934;
    width: 100px;
    height: 30px;

}
.text-over{
    width: 170px;
    height: 20px;
    white-space: nowrap;
    margin-bottom: 40px;
    text-align: center;
}
.text-over p{
    text-overflow:ellipsis ;
    white-space: nowrap;
    overflow-x: hidden;
}
.text-over:hover{
    color: #b8b6b6;
    transition: 1s;
}
.prc-pTag{
    font-size: 13px;
}
.btn-rdmPdct-bg{
    color: #Fc8934;
    background-color: #FFFFFF;
    font-weight: 700;
    border-radius: 30px solid #Fc8934;
    width: 160px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1S;

}
.btn-rdmPdct-bg:hover{
    background-color: #Fc8934;
    color: #FFFFFF;
    transform: scale(1.1);
}
.btn-allPdct-bg{
    color: #FFFFFF;
    background-color: #Fc8934;
    font-weight: 700;
    border-radius: 30px solid #Fc8934;
    width: 160px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1S;

}
.btn-allPdct-bg:hover{
    background-color: #Fc8934;
    color: #FFFFFF;
    transform: scale(1.1);
}
.ftr-bg{
    background-color: #Fc8934;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
